params {
    vcf_path = "/home/kevin/Documents/PhD/wes_bc/nfcore_sarek_results/annotation/mutect2/**.ann.vcf.gz"
    cram_path = "/home/kevin/Documents/PhD/wes_bc/nfcore_sarek_results/preprocessing/recalibrated/**.recal.cram"
    reference = "/home/kevin/Documents/PhD/wes_bc/nfcore_sarek_results/reference/Homo_sapiens_assembly38.fasta"
    outdir            = "outdir"
}