params {
    //input_dir   = "/home/kevin/Documents/PhD/wes_bc/dummy_files/dummy_files2/filenames_2.txt"
    //input_dir = "/home/kevin/Documents/PhD/wes_bc/dummy_files/dummy_files2/"
    //input_dir = "/home/kevin/Documents/PhD/wes_bc/dummy_files/dummy_files_all/*.fastq.gz"
    samplesheet   = "/data2/kryan/lens/lens_rename_metadata/fqs_patient_names.csv"              
    outdir                 = "${projectDir}/copy_files_renamed" 
    outfile_new_filenames  = "out.txt"
    manifest_name = "manifest.csv"
    dataset_name = "caf_neo_bc"
    input_dir_dna = "/data2/caf_wes_bc/raw_data/"
    input_dir_rna = "/data/bdigby/Projects/D_O_Connor/raw_reads/"
}
