params {
    //input_dir   = "/home/kevin/Documents/PhD/wes_bc/dummy_files/dummy_files2/filenames_2.txt"
    //input_dir = "/home/kevin/Documents/PhD/wes_bc/dummy_files/dummy_files2/"
    //input_dir = "/home/kevin/Documents/PhD/wes_bc/dummy_files/dummy_files_all/*.fastq.gz"
    samplesheet   = "/home/kevin/Documents/PhD/wes_bc/dummy_files/dummy_files_all/fqs_patient_names.csv"              
    outdir                 = "${projectDir}/copy_files_renamed" 
    outfile_new_filenames  = "out.txt"
    manifest_name = "manifest.csv"
    dataset_name = "caf_bc"
    input_dir_dna = "/home/kevin/Documents/PhD/wes_bc/dummy_files/dummy_files_all/dummy_dna/"
    input_dir_rna = "/home/kevin/Documents/PhD/wes_bc/dummy_files/dummy_files_all/dummy_rna/"
}
