singularity {
  cacheDir = "/define/home/kryan/singularity_cache/"
  autoMounts = 'true'
  enabled = true
  //runOptions = " -B /mnt/data/subpopulation_data/"
}

params {
  project_dir = "/define/home/kryan/misc/useful/lens/nf_optitype"
}

process {
  withLabel: optitype_container {
    label = 'cloud'
    container = 'docker://zlskidmore/optitype:1.3.4'
  }
  withLabel: optitype_container_alt {
    label = 'cloud'
    container = 'docker://fred2/optitype:release-v1.3.1'
  }
  withLabel: optitype_razers3 {
    //cpus = 16
    cpus = 8
    memory = { 16.GB.plus(16.GB * task.attempt)}
  }
  withLabel: optitype_samtools_bam2fq {
    //cpus = 16
    cpus = 8
    memory = { 16.GB.plus(16.GB * task.attempt)}
  }
  withLabel: optitype {
    //cpus = 16
    cpus = 8
    memory = { 16.GB.plus(16.GB * task.attempt)}
  }
}

