.Rproj.user
.Rhistory
.RData
.Ruserdata
*EGAD*
*.Rproj
*.js
*.css
*.woff
*xml*
computations*
CAF_rnaseq_combined_analysis.Rmd
work/
.nextflow.log*
.nextflow
*.vcf.gz
*.vcf
*.bam*
*positions.txt
hlaprofiler/*
fastqs
.out
nf-predict
outdir
*.bam
samplesheet*
manifest*
samplesheet_wes_combined.csv
bwa-0.7.15
bwa.kit
bwakit-0.7.15*
bwa-0.7.15*