params {
    inhouse_metadata = "reformat_samples.csv"
    tx2gene_file = "tx2gene.txt"
    gtex_file =  "gene_reads_cells_cultured_fibroblasts.gct"
    outdir = "batch_out"
    metadata = "metadata_full.txt"
    method = "nextflow"
}

docker {
  //cacheDir = "/home/kevin/containers/"
  //autoMounts = 'true'
  enabled = true
  //runOptions = " -B /mnt/data/subpopulation_data/"
}

process {
    withLabel: batch_docker {
      memory = { 15.GB.plus(10.GB * task.attempt)}
      container = 'kevinr9525/rocker-bioconductor:batch'
      cpus = 6
  }
}

