singularity {
  cacheDir = "/home/kevin/containers"
  autoMounts = 'true'
  enabled = true
  //runOptions = " -B /mnt/data/subpopulation_data/"
}

params {
    outdir= "${projectDir}/hlaprofiler"
    dataset = "EGAD00001003808"
    run = "asdfg"
    pat_name = "B86T26"
    fq1 = "/home/kevin/Documents/PhD/misc/useful/lens/nf_optitype/fastqs/B86T26.R1.fastq.gz"
    fq2 = "/home/kevin/Documents/PhD/misc/useful/lens/nf_optitype/fastqs/B86T26.R2.fastq.gz"
    trim_galore_hlap_parameters = '--hardtrim5 50 --paired'
    seqtk_read_count = '10000000'
    seqtk_seed = '1234'
    seqtk_sample_suffix = ''
    seqtk_parameters = ''
    hlaprofiler_parameter = ''
}

process {

 withLabel: 'seqtk_container' {
    //label = 'cloud'
    container = 'docker://nanozoo/seqtk:1.3--dc0d16b'
  }

 withLabel: trim_galore_container {
    //label = 'cloud'
    container = 'docker://mskaccess/trim_galore:0.6.2'
  }

 withLabel: hlaprofiler_container {
    //label = 'cloud'
    container = 'docker://benjaminvincentlab/hlaprofiler:1.10.2'
  }
}
