singularity {
  cacheDir = "/mnt/singularity/"
  autoMount = 'true'
  enabled = true
}

params {
    outdir= "${projectDir}/hlaprofiler"
    dataset = "EGAD00001003808"
    run = "asdf"
    pat_name = "tbd"
    fq1 = "/mnt/data/subpopulation_data/EGAD00001003808/EGAF00001793759/B103T84.R1.fastq.gz"
    fq2 = "/mnt/data/subpopulation_data/EGAD00001003808/EGAF00001793760/B103T84.R2.fastq.gz"
    trim_galore_hlap_parameters = '--hardtrim5 50 --paired'
    // seqtk
    seqtk_read_count = '10000000'
    seqtk_seed = '1234'
    seqtk_sample_suffix = ''
    hlaprofiler_parameter = ''
}

process {

 withLabel: 'seqtk_container' {
    //label = 'cloud'
    container = 'docker://nanozoo/seqtk:1.3--dc0d16b'
  }

 withLabel: trim_galore_container {
    //label = 'cloud'
    container = 'docker://mskaccess/trim_galore:0.6.2'
  }

 withLabel: hlaprofiler_container {
    //label = 'cloud'
    container = 'docker://benjaminvincentlab/hlaprofiler:1.10.2'
  }
}
