singularity {
  cacheDir = "/data4/kryan/lens/imgs"
  autoMount = 'true'
  enabled = true
}

params {
    outdir= "${projectDir}/hlaprofiler"
    dataset = "EGAD00001003808"
    run = "asdf"
    pat_name = "tbd"
    fq1 = "/mnt/data/subpopulation_data/EGAD00001003808/EGAF00001793759/B103T84.R1.fastq.gz"
    fq2 = "/mnt/data/subpopulation_data/EGAD00001003808/EGAF00001793760/B103T84.R2.fastq.gz"
}
process {
 withLabel: hlaprofiler_container {
    //label = 'cloud'
    container = 'docker://benjaminvincentlab/hlaprofiler:1.10.2'
  }
}
