params {
    bam   = "/home/administrator/Documents/lens_outputs/star_fusion_aligned/Aligned.out.bam"
    bed   = "/home/administrator/Documents/lens_outputs/igv_snapshot_bed/caf_neo_bc-Pt-06.lens.igv_snapshot.bed"              
    outdir= "${projectDir}/subset_bam" 
}

/*
withLabel: 'samtools_container' {
    container = 'docker://staphb/samtools:1.13'
  }
*/

singularity {
  cacheDir = "/home/administrator/Documents/singularity_cache"
  //autoMount = 'true'
  enabled = true
}

