process {
    withName:bwa_mem_align_alt {
        container = 'docker://kevinr9525/bwakit:dev'
    }

    withName:SUBSET {
        container = '/data/containers/depot.galaxyproject.org-singularity-samtools-1.16.1--h6899075_1.img'
    }
}

params {
        outdir = "/data/kryan/bwakit-0.7.15/bwakit-nextflow"
        reference_dir = "/data/kryan/bwakit-0.7.15/bwa-0.7.15/bwakit/hs38DH*"
        reads_1 = '/data2/caf_wes_bc/raw_data/*{R1,R2}*.fastq.gz'
        reads_2 = '/data2/caf_wes_bc/raw_data_final_samples/*{R1,R2}*.fastq.gz'
}
