params {
    outdir = "outdir2"
    //vcf = "/home/kevin/Documents/PhD/wes_bc/nfcore_sarek_results/annotation/mutect2/4027_vs_4028/4027_vs_4028.mutect2.filtered_snpEff_VEP.ann.vcf.gz"
    cram1 = "/home/kevin/Documents/PhD/wes_bc/nfcore_sarek_results/preprocessing/recalibrated/4027/4027.recal.cram"
    cram2 =  "/home/kevin/Documents/PhD/wes_bc/nfcore_sarek_results/preprocessing/recalibrated/4028/4028.recal.cram"
    crai1 = "/home/kevin/Documents/PhD/wes_bc/nfcore_sarek_results/preprocessing/recalibrated/4027/4027.recal.cram.crai"
    crai2 = "/home/kevin/Documents/PhD/wes_bc/nfcore_sarek_results/preprocessing/recalibrated/4028/4028.recal.cram.crai"
    vcf = "/home/kevin/Documents/PhD/wes_bc/nfcore_sarek_results/annotation/mutect2/4027_vs_4028/4027_vs_4028.mutect2.filtered_snpEff_VEP.ann.vcf.gz"
    reference = "/home/kevin/references/fasta/Homo_sapiens_assembly38.fasta"
    reference_idx = "/home/kevin/references/fasta/Homo_sapiens_assembly38.fasta.fai"
}

/*
process {
withName: SAMTOOLS_VIEW_FILTER_CRAM_POSITIONS {
    memory = 30.GB
  }
withName: SAMTOOLS_SORT {
    memory = 30.GB
  }

withName: SAMTOOLS_INDEX {
    memory = 30.GB
  }
}
*/

/*
process {
  executor = 'slurm'
  queue = { task.memory >= 59.GB || task.cpus > 16 ? 'highmem' : 'normal' }
  // clusterOptions = '-n 8 -N 1'
}
*/

