params {
    outdir = "outdir2"
    //vcf = "/home/kevin/Documents/PhD/wes_bc/nfcore_sarek_results/annotation/mutect2/4027_vs_4028/4027_vs_4028.mutect2.filtered_snpEff_VEP.ann.vcf.gz"
    cram1 = "/mnt/data/nf-core-rnaseq-results-inhouse/star_salmon/4027.markdup.sorted.bam"
    cram2 =  "/mnt/data/nf-core-rnaseq-results-inhouse/star_salmon/4028.markdup.sorted.bam"
    crai1 = "/mnt/data/nf-core-rnaseq-results-inhouse/star_salmon/4027.markdup.sorted.bam.bai"
    crai2 = "/mnt/data/nf-core-rnaseq-results-inhouse/star_salmon/4028.markdup.sorted.bam.bai"
    vcf = "/home/administrator/Documents/4027_vs_4028.mutect2.filtered_snpEff_VEP.ann.vcf.gz"
    reference = "/mnt/data/references/GRCh38.primary_assembly.genome.fa"
    reference_idx = "/mnt/data/references/GRCh38.primary_assembly.genome.fa.fai"
}

/*
process {
withName: SAMTOOLS_VIEW_FILTER_CRAM_POSITIONS {
    memory = 30.GB
  }
withName: SAMTOOLS_SORT {
    memory = 30.GB
  }

withName: SAMTOOLS_INDEX {
    memory = 30.GB
  }
}
*/

/*
process {
  executor = 'slurm'
  queue = { task.memory >= 59.GB || task.cpus > 16 ? 'highmem' : 'normal' }
  // clusterOptions = '-n 8 -N 1'
}
*/

