singularity {
  //cacheDir = "/data/kryan/neoant/raft_instance/imgs"
  autoMount = 'true'
  enabled = 'true'

}

process {
    executor = 'slurm'
    queue = { task.memory >= 59.GB || task.cpus > 16 ? 'highmem' : 'normal' }
    //queue = 'highmem'
    container = 'docker://kevinr9525/bwakit:dev'
    cpus = 4
    withName:bwa_mem_align_alt_postalt {
        cpus = 15
    }
    withName: RUN_OPTITYPE{
        cpus = 4
        container = '/data/containers/optitype_1.3.5.sif'
    }
    withName: RUN_POLYSOLVER{
        container = '/data/containers/polysolver-singularity_v4.sif'
        cpus = 8
    }
    withName: RUN_HLALA{
        container = '/data/kryan/hla-la-data/genome-seek_hla_latest.sif'
        cpus = 12
    }

    containerOptions = '-B `cat /data/kryan/misc/useful/nextflow/nf-alt-align/mounts.config` --no-home'
}

// try to limit to 15 concurrent jobs at once
executor {
  queueSize = 15
  submitRateLimit = '10 sec'
}

params {
        outdir = 'outdir_optitype_polysolver_20240403'
        reference_dir = "/data/kryan/bwakit-0.7.15/bwa-0.7.15/bwakit/hs38DH*"
        reference_basename = "hs38DH"
        hlatypes = '/data/kryan/bwakit-0.7.15/bwa-0.7.15/bwakit/bwa.kit/resource-human-HLA/HLA-ALT-type.txt'
        samplesheet = 'samplesheet_wes_combined.csv'
        chr = "chr6"
        dna_rna = 'dna'
        hla_la_graph = "/data/kryan/conda_envs/hla/opt/hla-la/graphs"
        kourami_graph = "/data4/kryan/misc/useful/nextflow/nf-hlatyping/testdir-kourami/kourami/db"
        kourami_ref = "/data4/kryan/misc/useful/nextflow/nf-hlatyping/testdir-kourami/kourami/resources/hs38DH.fa*"
}
