
process {
    withName:INDEX {
        container = '/data/containers/depot.galaxyproject.org-singularity-samtools-1.16.1--h6899075_1.img'
    }

    withName:SUBSET {
        container = '/data/containers/depot.galaxyproject.org-singularity-samtools-1.16.1--h6899075_1.img'
    }
}

params {
        outdir = "/data2/kryan/lens/samtools_view_nf"
}
